<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Spittr</title>
   <link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}">
   <script type="text/javascript" th:src="@{/resources/js/jquery/jquery.min.js}"></script>
   <link rel="stylesheet" th:href="@{/resources/css/bootstrap/css/bootstrap.min.css}">
   <script type="text/javascript" th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>
   
   <!-- Custom styles for this template -->
   <link th:href="@{/resources/css/signin.css}" rel="stylesheet">
   <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <link th:href="@{/resources/other/assets/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">
   <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="@{/resources/other/assets/js/ie8-responsive-file-warning.js}"></script><![endif]-->
    <script type="text/javascript" th:src="@{/resources/other/assets/js/ie-emulation-modes-warning.js}"></script>
</head>
<body>
    <div class="">
        <a th:href='@{/}'><img th:src='@{/resources/images/spittr_logo_50.png}' border="0" /></a>
    </div>
	<div class="container">
		<h1>Welcome to Spittr</h1>

		<a th:href="@{/spittles}">Spittles</a> | <a
			th:href="@{/spitter/register}">Register</a> | <a
			th:href="@{/spitter/login}">Sign in</a>
	</div>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" th:src="@{/resources/other/assets/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>