<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- 使用java配置 -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>

    <!-- 指定根配置类 -->
    <context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>spittr.config.RootConfig</param-value>
	</context-param> 

	<!-- 为上下文设置默认的profile -->
    <context-param>
       <param-name>spring.profiles.default</param-name>
       <param-value>dev</param-value>
    </context-param>

	<listener>
	   <listener-class>
	      org.springframework.web.context.ContextLoaderListener
	   </listener-class>
	</listener>

	<!-- Spring MVC -->
	<servlet>
	    <servlet-name>appServlet</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <!-- 使用java配置 -->
	    <init-param>
	        <param-name>contextClass</param-name>
	        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	    </init-param>
	    
	    <!-- 指定DispatcherServlet配置类 -->
	    <init-param>
	        <param-name>contextConfigLocation</param-name>
	    	<param-value>spittr.config.WebConfig</param-value>
	    </init-param>

	    <!--为Servlet设置默认的profile -->
	    <init-param>
	    	<param-name>spring.profiles.default</param-name>
	    	<param-value>dev</param-value>
	   	</init-param>
	    <load-on-startup>1</load-on-startup>
	    <!-- 启用multipart请求,配置 -->
	    <multipart-config>
	        <location>/tmp/spittr/uploads</location>
	        <max-file-size>2097152</max-file-size>
	        <max-request-size>4194304</max-request-size>
	    </multipart-config>
	</servlet> 

	<servlet-mapping>
	    <servlet-name>appServlet</servlet-name>
	    <url-pattern>/</url-pattern>
	</servlet-mapping>
    <!-- 配置Hessian控制器 -->
    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>*.service</url-pattern>
    </servlet-mapping>
    <!-- 中文乱码 -->
	<filter>
	<filter-name>CharacterEncodingFilter</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
    </filter>
    <filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>